/* Start Global Rules */
:root {
	--main-color: #0075ff;
	--text-color: #000;
	--backgound-color: #fff;
	--main-transition: 2s;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
    height: 100vh;
	font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
	position: relative;
}
/* End Global Rules */
/* Start Header */
.content {
    width: 500px;
}
.content .image {
    width: 100%;
    margin-bottom: 100px;
    position: relative;
}
.content .image  i{
    display: block;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--main-color);

}
.content .image::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--main-color);
    opacity: 0.5;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    z-index: -1;
    animation-name: up-and-down-one;
    animation-duration: var(--main-transition);
    animation-iteration-count: infinite;
}
.content .image::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--main-color);
    opacity: 0.2;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    z-index: -2;
    animation-name: up-and-down-two;
    animation-duration: var(--main-transition);
    animation-iteration-count: infinite;
}
.content .text {
    width: 100%;
    text-align: center;
}
.content h2 {
    font-size: 50px;
    font-weight: bold;
    color: var(--text-color);
}
.content .but {
    width: 80%;
    margin: 30px auto 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.content .but button {
    border: none;
    border-radius: 999999px;
    width: 150px;
    height: 50px;
    font-size: 22px;
    cursor: pointer;
}
.content .but button.btn-2 {
    width: 200px;
    background-color: var(--backgound-color);
    color: var(--text-color);
    border: 3px solid var(--text-color);
}
.content .but button.btn-1 {
    background-color: var(--text-color);
    color: var(--backgound-color);
}
@media (max-width: 767px) {
    .content {
        width: 300px;
    }
    .content h2 {
        font-size: 40px;
    }
    .content .but {
        flex-direction: column;
        height: 120px;
        justify-content: space-between;
    }
    .content .but button.btn-1 {
        width: 200px;
    }
}
/* End Header */
/* Start Animation */
@keyframes up-and-down-one {
    to {
        width: 150px;
        height: 150px;
        opacity: 0;
    }
}
@keyframes up-and-down-two {
    to {
        width: 200px;
        height: 200px;
        opacity: 0;
    }
}
/* End Animation */
