/* Start Global Rules */
:root {
	--main-color: #4E9F3D;
	--text-color: #000;
	--backgound-color: #fff;
    --border-color: #C8C8C8;
	--main-transition: 0.5s;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
body {
    height: 100vh;
	font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* End Global Rules */
/* Start Sing in */
.box {
    width: 500px;
    position: relative;
}

.box h2 {
    font-size: 50px;
    width: fit-content;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    margin: 0;
}
.box h2::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 5px;
    border-radius: 999999px;
    background-color: var(--main-color);
}
.box form {
    margin-top: 100px;
}
form div:not(:last-child) {
    width: 100%;
    margin-bottom: 20px;
}
form div label {
    display: block;
    font-size: 22px;
    margin-bottom: 10px;
}
form div:not(:last-child)  input{
    display: block;
    width: 100%;
    height: 40px;
    padding: 5px 15px;
    border: 1px solid var(--border-color);
    border-radius: 99999px;
    outline: none;
    transition: var(--main-transition);
    font-size: 18px;
}
form div input:focus {
    border-color: var(--main-color);
}
form div input[type="submit"] {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 99999px;
    outline: none;
    background-color: var(--main-color);
    color: var(--backgound-color);
    border: none;
    font-size: 22px;
}
.singup p {
    margin-top: 100px;
    text-align: center;
    font-size: 22px;
}
.singup p a {
    font-weight: bold;
    color: var(--main-color);
}
@media (max-width: 767px) {
    .box {
        width: 350px;
    }
    .singup p {
        font-size: 18px;
    }
}
/* End Sing in */
